* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Mantém o valor mesmo que tenha padding - ou outro atributo (não soma tal qual o content-box */
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

.cabecalho {
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(172, 149, 35, 0.5), rgba(218, 188, 42, 0.7)), url(./../img/girassol.jpg) no-repeat;
    background-size: cover;
}

.menu {
    width: 100%;
    background-color: #dabc2a;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    position: fixed;
}


.menu__logo{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    margin-left: 5px;
}

.menu-navegacao {
    display: flex;
    list-style: none;
}

.menu-navegacao__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    transition: 0.5s all;
}

.menu-navegacao__link:hover {
    background-color: #ac9523;
}

.banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-left: 2%;
}

.banner__titulo {
    color: #ffffff;
    font-size: 30px;
    text-shadow: 1px 1px 2px #ac9523;
    margin-bottom: 15px;
    text-align: left;
}

.banner__subtitulo {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 1px 1px 2px #ac9523;
    width: 60%;
    text-align: left;
    font-weight: 500;
}

main {
    width: 80%;
    margin: 3% 5%;
    background: linear-gradient(rgba(255, 249, 219, 0.856), rgba(216, 183, 17, 0.945));
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cccccc; /*1º: eixo x, 2º: eixo y, 3º: desfoque, 4º: expansão da sombra*/
}

.card-apresentacao, .container-autora, .card-livros {
    padding: 4%;
}

.card-apresentacao__titulo, .container-autora__titulo, .card-livros__titulo {
    color: rgb(94, 83, 30);
    font-size: 30px;
}

.container-autora__titulo {
    text-align: right;
}

.container-resumo, .container-biografia {
    display: flex;
    align-items: center;
}

.container-biografia {
    flex-direction: row-reverse;
}

.container-autora__paragrafos p, .container-resumo__paragrafos p {
    color: rgb(41, 39, 39);
    font-size: 16px;
    text-align: justify;
    width: 95%;
}

.container-autora__paragrafos p {
    margin-left: 5%;
    margin-right: 5%;
}

.container-resumo__imagem, .container-autora__imagem {
    height: 300px;
}

.card-livros__titulo {
    margin-bottom: 10px;
    margin-left: 11%;
}

.container-listas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.lista {
    width: 28%;
    background-color: #ac9523;
    border-radius: 5px;
    padding: 12px;
    transition: 0.5s all;
    box-shadow: 3px 3px 9px #97831e;
}

.lista h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.lista a {
    text-decoration: none;
    color: #302803;
    font-weight: 400;
}

.lista:hover {
    transform: scale(1.1);
}

.lista__item li {
    color: #fff;
    margin-bottom: 10px;
    list-style: none;
}

.lista__item li::before {
    content: "▽";
    margin-right: 10px;
}

.card-vamos-conversar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-vamos-conversar h2 {
    color: rgb(94, 83, 30);
    font-size: 30px;
    margin-bottom: 20px;
}

.card-vamos-conversar p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.campo-form {
    display: flex;
    flex-direction: column;
}

form {
    width: 65%;
    border: 2px solid rgb(94, 83, 30);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

label, input {
    margin-bottom: 10px;
}

label {
    font-weight: 600;
}

input::placeholder, textarea::placeholder {
    padding: 5px;
}

textarea {
    margin-bottom: 10px;
}

input:focus, textarea:focus {
    outline: 0;
    padding: 5px;
}

fieldset {
    border: 2px solid rgb(94, 83, 30);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
}

fieldset legend {
    font-weight: 600;
    padding: 10px;
}

fieldset input {
    margin: 10px;
}

.checkbox-lancamentos input {
    margin-left: 10px;
}

.form-botao {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.form-botao input {
    border: 0;
    box-shadow: 1px 1px 2px rgb(94, 83, 30);
    background-color: rgb(94, 83, 30);
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s all;
}

.form-botao input:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #dabc2a;
    color: #fff;
}

footer p {
    font-size: 18px;
}