*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: #f2e9e4;
}

.cabecalho {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(74, 78, 105,0.5), rgba(74, 78, 105,0.5)), url(./../img/bg.jpg) no-repeat;
    background-size: cover;
}

.menu {
    width: 100%;
    background-color: #22223B;
    display: flex; 
    justify-content:space-between; 
    height: 60px;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    
} 

.banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.menu__logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

.menu-navegacao {
    display: flex;
    list-style: none;
    
    
}

.menu-navegacao__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s all;
    border-radius: 10px;

}

.menu-navegacao__link:hover {
    background-color: #4A4E69;
}


.banner__titulo {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 15px;
}

.banner__subtitulo {
    color: #ffffff;
    font-size: 20px;
}

main {
    width: 90%;
    background: #f2e9e4;
    margin: 3% 5%;
    border-radius: 10px;
}

.card-introducao, .container-trajetoria, .card-gostos, .container-desenvolvimento1{
    padding: 4%;
}

.card-introducao__titulo{
    color: #22223B;
    font-size: 30px;
    margin-bottom: 20px;
}

.container-texto{
    display: flex;
    align-items: center;
}

.container-texto__paragrafos{
    width: 60%;
    margin-right: 10%;
}

.container-texto__paragrafos p, .container-trajetoria__paragrafo, .container-desenvolvimento1__paragrafo p{
    color: #22223B;
    font-size: 17px;
    margin-bottom: 17px;
    text-align: justify; 
}

.container-texto__imagem{
    width: 30%;
    border-radius: 10px;
    margin-right: 30px;
}

.container-trajetoria__titulo, .container-desenvolvimento1__titulo{
    font-size: 25px;
    margin-bottom: 30px;
    color: #22223B;
}

.card-gostos__titulo{
    font-size: 20px;
    color: #22223B;
    margin-bottom: 30px;
}

.container-listas{
    display: flex;
    justify-content: space-between;
}

.listas{
    width: 30%;
    background-color: #9A8C98;
    border-radius: 10px;
    padding: 16px;
    transition: 0.5s;
    box-shadow: 5px 5px 9px #cccccc;
}

.listas:hover {
    transform: scale(1.1);
}

.listas h3{
    color: #F2E9E4;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.lista__item li{
    color: #F2E9E4  ;
    margin-bottom: 10px;
    margin-left: 15px;
}

.lista__item li:before{
    content: "";
    margin-right: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #22223B;
    color: #F2E9E4;
}

.campo-form {
    display: flex;
    flex-direction: column;

}

form{
    width: 70%;
    border: 2px solid #22223B;
    padding: 20px;
    border-radius: 10px;
}

label, input{
    margin-bottom: 10px;

}

fieldset{
    border: 2px solid #22223B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-botao{
    display: flex;
    justify-content: center;
    }

.form-botao input {
    border: 2px solid #ffffff ;
    background-color: #22223B;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;
}

.card-faleconosco{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-faleconosco h2{
    font-size: 25px;
    color: #22223B;
    margin-bottom: 10px;
}